[submodule "renew-lib"]
	path = renew-lib
	url = ../renew-lib.git
[submodule "renew-ui"]
	path = renew-ui
	url = ../renew-ui.git
[submodule "renew-formalism"]
	path = renew-formalism
	url = ../renew-formalism.git
[submodule "renew-formalism-pt"]
	path = renew-formalism-pt
	url = ../renew-formalism-pt.git
[submodule "renew-formalism-base"]
	path = renew-formalism-base
	url = ../renew-formalism-base.git
[submodule "eslint-config-renew"]
	path = eslint-config-renew
	url = ../eslint-config-renew.git
[submodule "renew-simulator-gateway"]
	path = renew-simulator-gateway
	url = ../renew-simulator-gateway.git
[submodule "renew-simulator-ccpn"]
	path = renew-simulator-ccpn
	url = ../renew-simulator-ccpn.git
[submodule "renew-simulator-client"]
	path = renew-simulator-client
	url = ../renew-simulator-client.git
